
.text-center{
    text-align: center;
}
.main-img{
    text-align: justify;
    transition: ease-in-out 5s;
}
.top-image img{
    border-color: royalblue;
}
.img-fluid {
    max-width: 80%;
    height: auto;
}
.red-text{
    color: red;
}
.full-width {
    width: 100%;
}
.top-container {
    position: relative;
}

.top-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: url("backgr.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.top-container > .container {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5s);
    position: relative;
}
h1,
h2{
  color: rgb(10, 126, 180);
  margin-top: 50px;
}
.anchor:before { content: ''; display: block; position: relative; width: 0; height: 5em; margin-top: -5em }
.tags span {
    border: 2px solid turquoise;
    color: turquoise;
    padding: 5px 8px;
    display: inline-block;
    margin: 2px;
    border-radius: 8px;
    font-size: 0.8rem;
}

a {color: black;
transition: ease-in 1s;}
a:hover { color: orangered;}
h1#name{
color: turquoise;
text-align:center;
}
header img {
    border: 10px solid, #00F;
}
header img:hover {
    border-color: chartreuse;
}

.experience > ul, .education ul {
    list-style: none;
    padding: 0;
}

.experience > ul > li, .education > ul > li {
    padding: 10px 0;
}

.skills {
    font-size: 0.8rem;
}

.skills .progress-bar {
    transition: none;
}
